LavadoraLubricadora/Connected Services/LavadoraService/LavadoraService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LavadoraService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BibliotecaClasesLavadora" />
      <xsd:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILavadoraService_ObtenerAceite_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAceite" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAceite_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAceiteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAceiteSAE_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAceiteSAE" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAceiteSAE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAceiteSAEResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProducto" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerSAE_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSAE" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerSAE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSAEResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerMarcaVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMarcaVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerMarcaVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMarcaVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerModeloVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModeloVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerModeloVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModeloVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAnioVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAnioVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAnioVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAnioVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerMotorVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMotorVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerMotorVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMotorVehiculoResponse" />
  </wsdl:message>
  <wsdl:portType name="ILavadoraService">
    <wsdl:operation name="ObtenerAceite">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAceite" message="tns:ILavadoraService_ObtenerAceite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAceiteResponse" message="tns:ILavadoraService_ObtenerAceite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAceiteSAE">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAceiteSAE" message="tns:ILavadoraService_ObtenerAceiteSAE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAceiteSAEResponse" message="tns:ILavadoraService_ObtenerAceiteSAE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerProducto" message="tns:ILavadoraService_ObtenerProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerProductoResponse" message="tns:ILavadoraService_ObtenerProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerVehiculo" message="tns:ILavadoraService_ObtenerVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerVehiculoResponse" message="tns:ILavadoraService_ObtenerVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSAE">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerSAE" message="tns:ILavadoraService_ObtenerSAE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerSAEResponse" message="tns:ILavadoraService_ObtenerSAE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarcaVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerMarcaVehiculo" message="tns:ILavadoraService_ObtenerMarcaVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerMarcaVehiculoResponse" message="tns:ILavadoraService_ObtenerMarcaVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerModeloVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerModeloVehiculo" message="tns:ILavadoraService_ObtenerModeloVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerModeloVehiculoResponse" message="tns:ILavadoraService_ObtenerModeloVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAnioVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAnioVehiculo" message="tns:ILavadoraService_ObtenerAnioVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAnioVehiculoResponse" message="tns:ILavadoraService_ObtenerAnioVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMotorVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerMotorVehiculo" message="tns:ILavadoraService_ObtenerMotorVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerMotorVehiculoResponse" message="tns:ILavadoraService_ObtenerMotorVehiculo_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILavadoraService" type="tns:ILavadoraService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ObtenerAceite">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerAceite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAceiteSAE">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerAceiteSAE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSAE">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerSAE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarcaVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerMarcaVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerModeloVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerModeloVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAnioVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerAnioVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMotorVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerMotorVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LavadoraService">
    <wsdl:port name="BasicHttpBinding_ILavadoraService" binding="tns:BasicHttpBinding_ILavadoraService">
      <soap:address location="http://localhost:53640/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>