LavadoraLubricadora/Connected Services/LavadoraService/LavadoraService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="LavadoraService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/BibliotecaClasesLavadora" />
      <xsd:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILavadoraService_EliminarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProveedor" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProveedor" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProveedorNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedorNombre" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProveedorNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedorNombreResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProveedorApellido_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedorApellido" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProveedorApellido_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedorApellidoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProveedorRuc_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedorRuc" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProveedorRuc_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedorRucResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProveedorEmpresa_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedorEmpresa" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProveedorEmpresa_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProveedorEmpresaResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerUsuarios_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuarios" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerUsuarios_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerUsuariosResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarUsuario" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuario" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuario" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarUsuarioNombre_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioNombre" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarUsuarioNombre_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioNombreResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarUsuarioApellido_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioApellido" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarUsuarioApellido_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioApellidoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarUsuarioRol_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioRol" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarUsuarioRol_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarUsuarioRolResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProductosCBarras_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductosCBarras" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProductosCBarras_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductosCBarrasResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarClienteCedulaObj_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteCedulaObj" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarClienteCedulaObj_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteCedulaObjResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_Login_InputMessage">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_Login_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarAceite_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarAceite" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarAceite_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarAceiteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarAceite_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarAceite" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarAceite_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarAceiteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarAceite_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAceite" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarAceite_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarAceiteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ValidarAceite_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarAceite" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ValidarAceite_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarAceiteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAceite_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAceite" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAceite_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAceiteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarAceiteMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAceiteMarca" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarAceiteMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAceiteMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarAceiteCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAceiteCodigo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarAceiteCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarAceiteCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAceiteSAE_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAceiteSAE" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAceiteSAE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAceiteSAEResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerPresentacion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPresentacion" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerPresentacion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerPresentacionResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerTipoAceite_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoAceite" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerTipoAceite_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoAceiteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerTipoCombustible_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoCombustible" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerTipoCombustible_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoCombustibleResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerSAE_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSAE" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerSAE_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerSAEResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerApi_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerApi" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerApi_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerApiResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarFiltro" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarFiltro" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarFiltro" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarCodigosFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCodigosFiltro" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarCodigosFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCodigosFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_LimpiarVehiculosBase_InputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarVehiculosBase" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_LimpiarVehiculosBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarVehiculosBaseResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarVehiculoFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarVehiculoFiltro" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarVehiculoFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarVehiculoFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarCodigoFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarCodigoFiltro" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarCodigoFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarCodigoFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerFiltros_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFiltros" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerFiltros_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerFiltrosResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarFiltroMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFiltroMarca" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarFiltroMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFiltroMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarFiltroCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFiltroCodigo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarFiltroCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarFiltroCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ValidarFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarFiltro" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ValidarFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerTipoFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoFiltro" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerTipoFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerTipoFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerVehiculosFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculosFiltro" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerVehiculosFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculosFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerIdCodigosFiltro_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdCodigosFiltro" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerIdCodigosFiltro_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIdCodigosFiltroResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_LimpiarRelacionCodigosBase_InputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarRelacionCodigosBase" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_LimpiarRelacionCodigosBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarRelacionCodigosBaseResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_LimpiarCodigosBase_InputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarCodigosBase" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_LimpiarCodigosBase_OutputMessage">
    <wsdl:part name="parameters" element="tns:LimpiarCodigosBaseResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_GuardarIDsVehiculos_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarIDsVehiculos" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_GuardarIDsVehiculos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarIDsVehiculosResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerIDsVehiculos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIDsVehiculos" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerIDsVehiculos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIDsVehiculosResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_GuardarEstadoListaVehiculos_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarEstadoListaVehiculos" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_GuardarEstadoListaVehiculos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarEstadoListaVehiculosResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerEstadoListaVehiculos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoListaVehiculos" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerEstadoListaVehiculos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerEstadoListaVehiculosResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_GuardarIDListaVehiculos_InputMessage">
    <wsdl:part name="parameters" element="tns:GuardarIDListaVehiculos" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_GuardarIDListaVehiculos_OutputMessage">
    <wsdl:part name="parameters" element="tns:GuardarIDListaVehiculosResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerIDListaVehiculos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIDListaVehiculos" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerIDListaVehiculos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerIDListaVehiculosResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarProducto" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarProducto" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProducto" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ValidarProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarProducto" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ValidarProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerProducto_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProducto" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerProducto_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerProductoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProductoMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoMarca" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProductoMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProductoCodigo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoCodigo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarProductoCodigo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarProductoCodigoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerMarcaVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMarcaVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerMarcaVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMarcaVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerModeloVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModeloVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerModeloVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerModeloVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAnioVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAnioVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerAnioVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerAnioVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerMotorVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMotorVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerMotorVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerMotorVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarVehiculoMarca_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVehiculoMarca" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarVehiculoMarca_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVehiculoMarcaResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarVehiculoModelo_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVehiculoModelo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarVehiculoModelo_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarVehiculoModeloResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarMotorVehiculo_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarMotorVehiculo" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarMotorVehiculo_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarMotorVehiculoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerVehiculos_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculos" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerVehiculos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerVehiculosResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarCliente" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarCliente" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarCliente" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EliminarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClientes" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ObtenerClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarClienteApellido_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteApellido" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarClienteApellido_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteApellidoResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarClienteCedula_InputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteCedula" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_BuscarClienteCedula_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuscarClienteCedulaResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ValidarCliente_InputMessage">
    <wsdl:part name="parameters" element="tns:ValidarCliente" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_ValidarCliente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ValidarClienteResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:IngresarProveedor" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_IngresarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:IngresarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:EditarProveedor" />
  </wsdl:message>
  <wsdl:message name="ILavadoraService_EditarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditarProveedorResponse" />
  </wsdl:message>
  <wsdl:portType name="ILavadoraService">
    <wsdl:operation name="EliminarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EliminarProveedor" message="tns:ILavadoraService_EliminarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EliminarProveedorResponse" message="tns:ILavadoraService_EliminarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerProveedor" message="tns:ILavadoraService_ObtenerProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerProveedorResponse" message="tns:ILavadoraService_ObtenerProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedorNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProveedorNombre" message="tns:ILavadoraService_BuscarProveedorNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProveedorNombreResponse" message="tns:ILavadoraService_BuscarProveedorNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedorApellido">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProveedorApellido" message="tns:ILavadoraService_BuscarProveedorApellido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProveedorApellidoResponse" message="tns:ILavadoraService_BuscarProveedorApellido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedorRuc">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProveedorRuc" message="tns:ILavadoraService_BuscarProveedorRuc_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProveedorRucResponse" message="tns:ILavadoraService_BuscarProveedorRuc_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedorEmpresa">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProveedorEmpresa" message="tns:ILavadoraService_BuscarProveedorEmpresa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProveedorEmpresaResponse" message="tns:ILavadoraService_BuscarProveedorEmpresa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerUsuarios" message="tns:ILavadoraService_ObtenerUsuarios_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerUsuariosResponse" message="tns:ILavadoraService_ObtenerUsuarios_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/IngresarUsuario" message="tns:ILavadoraService_IngresarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/IngresarUsuarioResponse" message="tns:ILavadoraService_IngresarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EditarUsuario" message="tns:ILavadoraService_EditarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EditarUsuarioResponse" message="tns:ILavadoraService_EditarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EliminarUsuario" message="tns:ILavadoraService_EliminarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EliminarUsuarioResponse" message="tns:ILavadoraService_EliminarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioNombre">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarUsuarioNombre" message="tns:ILavadoraService_BuscarUsuarioNombre_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarUsuarioNombreResponse" message="tns:ILavadoraService_BuscarUsuarioNombre_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioApellido">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarUsuarioApellido" message="tns:ILavadoraService_BuscarUsuarioApellido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarUsuarioApellidoResponse" message="tns:ILavadoraService_BuscarUsuarioApellido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioRol">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarUsuarioRol" message="tns:ILavadoraService_BuscarUsuarioRol_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarUsuarioRolResponse" message="tns:ILavadoraService_BuscarUsuarioRol_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProductosCBarras">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProductosCBarras" message="tns:ILavadoraService_BuscarProductosCBarras_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProductosCBarrasResponse" message="tns:ILavadoraService_BuscarProductosCBarras_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarClienteCedulaObj">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarClienteCedulaObj" message="tns:ILavadoraService_BuscarClienteCedulaObj_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarClienteCedulaObjResponse" message="tns:ILavadoraService_BuscarClienteCedulaObj_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/Login" message="tns:ILavadoraService_Login_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/LoginResponse" message="tns:ILavadoraService_Login_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarAceite">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/IngresarAceite" message="tns:ILavadoraService_IngresarAceite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/IngresarAceiteResponse" message="tns:ILavadoraService_IngresarAceite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarAceite">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EditarAceite" message="tns:ILavadoraService_EditarAceite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EditarAceiteResponse" message="tns:ILavadoraService_EditarAceite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarAceite">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EliminarAceite" message="tns:ILavadoraService_EliminarAceite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EliminarAceiteResponse" message="tns:ILavadoraService_EliminarAceite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarAceite">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ValidarAceite" message="tns:ILavadoraService_ValidarAceite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ValidarAceiteResponse" message="tns:ILavadoraService_ValidarAceite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAceite">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAceite" message="tns:ILavadoraService_ObtenerAceite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAceiteResponse" message="tns:ILavadoraService_ObtenerAceite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAceiteMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarAceiteMarca" message="tns:ILavadoraService_BuscarAceiteMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarAceiteMarcaResponse" message="tns:ILavadoraService_BuscarAceiteMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarAceiteCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarAceiteCodigo" message="tns:ILavadoraService_BuscarAceiteCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarAceiteCodigoResponse" message="tns:ILavadoraService_BuscarAceiteCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAceiteSAE">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAceiteSAE" message="tns:ILavadoraService_ObtenerAceiteSAE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAceiteSAEResponse" message="tns:ILavadoraService_ObtenerAceiteSAE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerPresentacion">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerPresentacion" message="tns:ILavadoraService_ObtenerPresentacion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerPresentacionResponse" message="tns:ILavadoraService_ObtenerPresentacion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoAceite">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerTipoAceite" message="tns:ILavadoraService_ObtenerTipoAceite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerTipoAceiteResponse" message="tns:ILavadoraService_ObtenerTipoAceite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoCombustible">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerTipoCombustible" message="tns:ILavadoraService_ObtenerTipoCombustible_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerTipoCombustibleResponse" message="tns:ILavadoraService_ObtenerTipoCombustible_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerSAE">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerSAE" message="tns:ILavadoraService_ObtenerSAE_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerSAEResponse" message="tns:ILavadoraService_ObtenerSAE_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerApi">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerApi" message="tns:ILavadoraService_ObtenerApi_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerApiResponse" message="tns:ILavadoraService_ObtenerApi_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/IngresarFiltro" message="tns:ILavadoraService_IngresarFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/IngresarFiltroResponse" message="tns:ILavadoraService_IngresarFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EditarFiltro" message="tns:ILavadoraService_EditarFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EditarFiltroResponse" message="tns:ILavadoraService_EditarFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EliminarFiltro" message="tns:ILavadoraService_EliminarFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EliminarFiltroResponse" message="tns:ILavadoraService_EliminarFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCodigosFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EliminarCodigosFiltro" message="tns:ILavadoraService_EliminarCodigosFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EliminarCodigosFiltroResponse" message="tns:ILavadoraService_EliminarCodigosFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimpiarVehiculosBase">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/LimpiarVehiculosBase" message="tns:ILavadoraService_LimpiarVehiculosBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/LimpiarVehiculosBaseResponse" message="tns:ILavadoraService_LimpiarVehiculosBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarVehiculoFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/IngresarVehiculoFiltro" message="tns:ILavadoraService_IngresarVehiculoFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/IngresarVehiculoFiltroResponse" message="tns:ILavadoraService_IngresarVehiculoFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarCodigoFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/IngresarCodigoFiltro" message="tns:ILavadoraService_IngresarCodigoFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/IngresarCodigoFiltroResponse" message="tns:ILavadoraService_IngresarCodigoFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerFiltros">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerFiltros" message="tns:ILavadoraService_ObtenerFiltros_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerFiltrosResponse" message="tns:ILavadoraService_ObtenerFiltros_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarFiltroMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarFiltroMarca" message="tns:ILavadoraService_BuscarFiltroMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarFiltroMarcaResponse" message="tns:ILavadoraService_BuscarFiltroMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarFiltroCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarFiltroCodigo" message="tns:ILavadoraService_BuscarFiltroCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarFiltroCodigoResponse" message="tns:ILavadoraService_BuscarFiltroCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ValidarFiltro" message="tns:ILavadoraService_ValidarFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ValidarFiltroResponse" message="tns:ILavadoraService_ValidarFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerTipoFiltro" message="tns:ILavadoraService_ObtenerTipoFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerTipoFiltroResponse" message="tns:ILavadoraService_ObtenerTipoFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculosFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerVehiculosFiltro" message="tns:ILavadoraService_ObtenerVehiculosFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerVehiculosFiltroResponse" message="tns:ILavadoraService_ObtenerVehiculosFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdCodigosFiltro">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerIdCodigosFiltro" message="tns:ILavadoraService_ObtenerIdCodigosFiltro_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerIdCodigosFiltroResponse" message="tns:ILavadoraService_ObtenerIdCodigosFiltro_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimpiarRelacionCodigosBase">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/LimpiarRelacionCodigosBase" message="tns:ILavadoraService_LimpiarRelacionCodigosBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/LimpiarRelacionCodigosBaseResponse" message="tns:ILavadoraService_LimpiarRelacionCodigosBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LimpiarCodigosBase">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/LimpiarCodigosBase" message="tns:ILavadoraService_LimpiarCodigosBase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/LimpiarCodigosBaseResponse" message="tns:ILavadoraService_LimpiarCodigosBase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarIDsVehiculos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/GuardarIDsVehiculos" message="tns:ILavadoraService_GuardarIDsVehiculos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/GuardarIDsVehiculosResponse" message="tns:ILavadoraService_GuardarIDsVehiculos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIDsVehiculos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerIDsVehiculos" message="tns:ILavadoraService_ObtenerIDsVehiculos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerIDsVehiculosResponse" message="tns:ILavadoraService_ObtenerIDsVehiculos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarEstadoListaVehiculos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/GuardarEstadoListaVehiculos" message="tns:ILavadoraService_GuardarEstadoListaVehiculos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/GuardarEstadoListaVehiculosResponse" message="tns:ILavadoraService_GuardarEstadoListaVehiculos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadoListaVehiculos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerEstadoListaVehiculos" message="tns:ILavadoraService_ObtenerEstadoListaVehiculos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerEstadoListaVehiculosResponse" message="tns:ILavadoraService_ObtenerEstadoListaVehiculos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GuardarIDListaVehiculos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/GuardarIDListaVehiculos" message="tns:ILavadoraService_GuardarIDListaVehiculos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/GuardarIDListaVehiculosResponse" message="tns:ILavadoraService_GuardarIDListaVehiculos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerIDListaVehiculos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerIDListaVehiculos" message="tns:ILavadoraService_ObtenerIDListaVehiculos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerIDListaVehiculosResponse" message="tns:ILavadoraService_ObtenerIDListaVehiculos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/IngresarProducto" message="tns:ILavadoraService_IngresarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/IngresarProductoResponse" message="tns:ILavadoraService_IngresarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EditarProducto" message="tns:ILavadoraService_EditarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EditarProductoResponse" message="tns:ILavadoraService_EditarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EliminarProducto" message="tns:ILavadoraService_EliminarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EliminarProductoResponse" message="tns:ILavadoraService_EliminarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ValidarProducto" message="tns:ILavadoraService_ValidarProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ValidarProductoResponse" message="tns:ILavadoraService_ValidarProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerProducto" message="tns:ILavadoraService_ObtenerProducto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerProductoResponse" message="tns:ILavadoraService_ObtenerProducto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProductoMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProductoMarca" message="tns:ILavadoraService_BuscarProductoMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProductoMarcaResponse" message="tns:ILavadoraService_BuscarProductoMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarProductoCodigo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProductoCodigo" message="tns:ILavadoraService_BuscarProductoCodigo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarProductoCodigoResponse" message="tns:ILavadoraService_BuscarProductoCodigo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/IngresarVehiculo" message="tns:ILavadoraService_IngresarVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/IngresarVehiculoResponse" message="tns:ILavadoraService_IngresarVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EditarVehiculo" message="tns:ILavadoraService_EditarVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EditarVehiculoResponse" message="tns:ILavadoraService_EditarVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EliminarVehiculo" message="tns:ILavadoraService_EliminarVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EliminarVehiculoResponse" message="tns:ILavadoraService_EliminarVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerVehiculo" message="tns:ILavadoraService_ObtenerVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerVehiculoResponse" message="tns:ILavadoraService_ObtenerVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarcaVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerMarcaVehiculo" message="tns:ILavadoraService_ObtenerMarcaVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerMarcaVehiculoResponse" message="tns:ILavadoraService_ObtenerMarcaVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerModeloVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerModeloVehiculo" message="tns:ILavadoraService_ObtenerModeloVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerModeloVehiculoResponse" message="tns:ILavadoraService_ObtenerModeloVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerAnioVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAnioVehiculo" message="tns:ILavadoraService_ObtenerAnioVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerAnioVehiculoResponse" message="tns:ILavadoraService_ObtenerAnioVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerMotorVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerMotorVehiculo" message="tns:ILavadoraService_ObtenerMotorVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerMotorVehiculoResponse" message="tns:ILavadoraService_ObtenerMotorVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarVehiculoMarca">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarVehiculoMarca" message="tns:ILavadoraService_BuscarVehiculoMarca_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarVehiculoMarcaResponse" message="tns:ILavadoraService_BuscarVehiculoMarca_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarVehiculoModelo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarVehiculoModelo" message="tns:ILavadoraService_BuscarVehiculoModelo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarVehiculoModeloResponse" message="tns:ILavadoraService_BuscarVehiculoModelo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarMotorVehiculo">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/IngresarMotorVehiculo" message="tns:ILavadoraService_IngresarMotorVehiculo_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/IngresarMotorVehiculoResponse" message="tns:ILavadoraService_IngresarMotorVehiculo_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculos">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerVehiculos" message="tns:ILavadoraService_ObtenerVehiculos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerVehiculosResponse" message="tns:ILavadoraService_ObtenerVehiculos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/IngresarCliente" message="tns:ILavadoraService_IngresarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/IngresarClienteResponse" message="tns:ILavadoraService_IngresarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EditarCliente" message="tns:ILavadoraService_EditarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EditarClienteResponse" message="tns:ILavadoraService_EditarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EliminarCliente" message="tns:ILavadoraService_EliminarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EliminarClienteResponse" message="tns:ILavadoraService_EliminarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerClientes" message="tns:ILavadoraService_ObtenerClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ObtenerClientesResponse" message="tns:ILavadoraService_ObtenerClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarClienteApellido">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarClienteApellido" message="tns:ILavadoraService_BuscarClienteApellido_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarClienteApellidoResponse" message="tns:ILavadoraService_BuscarClienteApellido_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BuscarClienteCedula">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/BuscarClienteCedula" message="tns:ILavadoraService_BuscarClienteCedula_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/BuscarClienteCedulaResponse" message="tns:ILavadoraService_BuscarClienteCedula_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ValidarCliente">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/ValidarCliente" message="tns:ILavadoraService_ValidarCliente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/ValidarClienteResponse" message="tns:ILavadoraService_ValidarCliente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IngresarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/IngresarProveedor" message="tns:ILavadoraService_IngresarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/IngresarProveedorResponse" message="tns:ILavadoraService_IngresarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/ILavadoraService/EditarProveedor" message="tns:ILavadoraService_EditarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILavadoraService/EditarProveedorResponse" message="tns:ILavadoraService_EditarProveedor_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILavadoraService" type="tns:ILavadoraService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EliminarProveedor">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EliminarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProveedor">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedorNombre">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarProveedorNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedorApellido">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarProveedorApellido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedorRuc">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarProveedorRuc" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProveedorEmpresa">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarProveedorEmpresa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerUsuarios">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerUsuarios" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarUsuario">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/IngresarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarUsuario">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EditarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarUsuario">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EliminarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioNombre">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarUsuarioNombre" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioApellido">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarUsuarioApellido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarUsuarioRol">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarUsuarioRol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProductosCBarras">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarProductosCBarras" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarClienteCedulaObj">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarClienteCedulaObj" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarAceite">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/IngresarAceite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarAceite">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EditarAceite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarAceite">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EliminarAceite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarAceite">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ValidarAceite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAceite">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerAceite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAceiteMarca">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarAceiteMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarAceiteCodigo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarAceiteCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAceiteSAE">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerAceiteSAE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerPresentacion">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerPresentacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoAceite">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerTipoAceite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoCombustible">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerTipoCombustible" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerSAE">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerSAE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerApi">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerApi" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarFiltro">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/IngresarFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarFiltro">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EditarFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarFiltro">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EliminarFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCodigosFiltro">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EliminarCodigosFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimpiarVehiculosBase">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/LimpiarVehiculosBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarVehiculoFiltro">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/IngresarVehiculoFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarCodigoFiltro">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/IngresarCodigoFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerFiltros">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerFiltros" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarFiltroMarca">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarFiltroMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarFiltroCodigo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarFiltroCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarFiltro">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ValidarFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerTipoFiltro">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerTipoFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculosFiltro">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerVehiculosFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIdCodigosFiltro">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerIdCodigosFiltro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimpiarRelacionCodigosBase">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/LimpiarRelacionCodigosBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LimpiarCodigosBase">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/LimpiarCodigosBase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarIDsVehiculos">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/GuardarIDsVehiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIDsVehiculos">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerIDsVehiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarEstadoListaVehiculos">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/GuardarEstadoListaVehiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerEstadoListaVehiculos">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerEstadoListaVehiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GuardarIDListaVehiculos">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/GuardarIDListaVehiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerIDListaVehiculos">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerIDListaVehiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarProducto">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/IngresarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarProducto">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EditarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarProducto">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EliminarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarProducto">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ValidarProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerProducto">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerProducto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProductoMarca">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarProductoMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarProductoCodigo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarProductoCodigo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/IngresarVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EditarVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EliminarVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMarcaVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerMarcaVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerModeloVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerModeloVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerAnioVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerAnioVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerMotorVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerMotorVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVehiculoMarca">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarVehiculoMarca" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarVehiculoModelo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarVehiculoModelo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarMotorVehiculo">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/IngresarMotorVehiculo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerVehiculos">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerVehiculos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarCliente">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/IngresarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarCliente">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EditarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarCliente">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EliminarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ObtenerClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarClienteApellido">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarClienteApellido" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BuscarClienteCedula">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/BuscarClienteCedula" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarCliente">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/ValidarCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IngresarProveedor">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/IngresarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditarProveedor">
      <soap:operation soapAction="http://tempuri.org/ILavadoraService/EditarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LavadoraService">
    <wsdl:port name="BasicHttpBinding_ILavadoraService" binding="tns:BasicHttpBinding_ILavadoraService">
      <soap:address location="http://localhost:53640/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>