LavadoraLubricadora/Connected Services/LavadoraService/Service13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:53640/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/BibliotecaClasesLavadora" />
  <xs:element name="IngresarAceite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoBarras" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="cantidadMin" type="xs:int" />
        <xs:element minOccurs="0" name="presentacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sae" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoCombustible" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="api" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoAceite" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="precioSinIva" type="xs:double" />
        <xs:element minOccurs="0" name="precioConIva" type="xs:double" />
        <xs:element minOccurs="0" name="precioMayor" type="xs:double" />
        <xs:element minOccurs="0" name="precioMenor" type="xs:double" />
        <xs:element minOccurs="0" name="margenMayor" type="xs:double" />
        <xs:element minOccurs="0" name="margenMenor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarAceiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarAceite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoBarras" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="cantidadMin" type="xs:int" />
        <xs:element minOccurs="0" name="presentacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sae" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoCombustible" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="api" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoAceite" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="precioSinIva" type="xs:double" />
        <xs:element minOccurs="0" name="precioConIva" type="xs:double" />
        <xs:element minOccurs="0" name="precioMayor" type="xs:double" />
        <xs:element minOccurs="0" name="precioMenor" type="xs:double" />
        <xs:element minOccurs="0" name="margenMayor" type="xs:double" />
        <xs:element minOccurs="0" name="margenMenor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarAceiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarAceite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoBarras" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarAceiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarAceiteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAceite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAceiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAceiteResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAceite">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarAceiteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAceiteMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAceiteMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarAceiteMarcaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAceiteCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarAceiteCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarAceiteCodigoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAceiteSAE">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sae" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAceiteSAEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerAceiteSAEResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPresentacion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerPresentacionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerPresentacionResult" nillable="true" type="q1:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoAceite">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoAceiteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerTipoAceiteResult" nillable="true" type="q2:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoCombustible">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoCombustibleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerTipoCombustibleResult" nillable="true" type="q3:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSAE">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerSAEResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerSAEResult" nillable="true" type="q4:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerApi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoCombustible" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerApiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerApiResult" nillable="true" type="q5:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tipoFiltro" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rosca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descripcion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoBarras" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
        <xs:element minOccurs="0" name="cantidadMin" type="xs:int" />
        <xs:element minOccurs="0" name="precioSinIva" type="xs:double" />
        <xs:element minOccurs="0" name="precioConIva" type="xs:double" />
        <xs:element minOccurs="0" name="precioMayor" type="xs:double" />
        <xs:element minOccurs="0" name="precioMenor" type="xs:double" />
        <xs:element minOccurs="0" name="margenMayor" type="xs:double" />
        <xs:element minOccurs="0" name="margenMenor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarFiltroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarVehiculoFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoBarras" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="idVehiculo" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarVehiculoFiltroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarCodigoFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoBarras" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarCodigoFiltroResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFiltro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoBarras" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarFiltroResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoFiltro">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTipoFiltroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerTipoFiltroResult" nillable="true" type="q6:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVehiculo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BibliotecaClasesLavadora" minOccurs="0" name="ObtenerVehiculoResult" nillable="true" type="q7:ArrayOfVehiculo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcaVehiculo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMarcaVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerMarcaVehiculoResult" nillable="true" type="q8:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModeloVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerModeloVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerModeloVehiculoResult" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAnioVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerAnioVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerAnioVehiculoResult" nillable="true" type="q10:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMotorVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerMotorVehiculoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ObtenerMotorVehiculoResult" nillable="true" type="q11:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIDsVehiculos">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="idVehiculos" nillable="true" type="q12:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerIDsVehiculosResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIDsVehiculos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DevolverIDsVehiculosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DevolverIDsVehiculosResult" nillable="true" type="q13:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoMotor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarVehiculoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoMotor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarVehiculoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarVehiculoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVehiculoMarca">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVehiculoMarcaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarVehiculoMarcaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVehiculoModelo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVehiculoModeloResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarVehiculoModeloResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarMotorVehiculo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="marca" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="modelo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="anio" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipoMotor" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarMotorVehiculoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProveedor">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerProveedorResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedorNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedorNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarProveedorNombreResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedorApellido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedorApellidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarProveedorApellidoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedorRuc">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedorRucResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarProveedorRucResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedorEmpresa">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarProveedorEmpresaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarProveedorEmpresaResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarProveedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="ruc" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="empresa" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarProveedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarProveedorResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerUsuariosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IngresarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="telefono" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="correo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="clave" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EliminarUsuarioResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioNombre">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioNombreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarUsuarioNombreResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioApellido">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioApellidoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarUsuarioApellidoResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioRol">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarUsuarioRolResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BuscarUsuarioRolResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVehiculos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerVehiculosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerVehiculosResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>