LavadoraLubricadora/Connected Services/LavadoraService/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BusinessLayer" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BusinessLayer" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAceite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Aceite" nillable="true" type="tns:Aceite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAceite" nillable="true" type="tns:ArrayOfAceite" />
  <xs:complexType name="Aceite">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Producto">
        <xs:sequence>
          <xs:element minOccurs="0" name="Api" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Presentacion" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Sae" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoAceite" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TipoCombustible" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Aceite" nillable="true" type="tns:Aceite" />
  <xs:complexType name="Producto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cantidad" type="xs:int" />
      <xs:element minOccurs="0" name="CantidadMinima" type="xs:int" />
      <xs:element minOccurs="0" name="CodigoBarras" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Marca" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrecioCompraConIva" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioCompraSinIva" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioMargenxMayor" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioMargenxMenor" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioVentaxMayor" type="xs:double" />
      <xs:element minOccurs="0" name="PrecioVentaxMenor" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Producto" nillable="true" type="tns:Producto" />
</xs:schema>